{% extends 'base_template.html' %}

{% block title %}
  <title>Edit</title>
{% endblock %}

{% block content %}
  <h2 class="text-center">แบบฟอร์มแก้ไขข้อมูล</h2>

  <form method="post" action="/movie/edit/{{ movie.id }}">
    {% csrf_token %}

    <div class="form-group mb-3">
      <label for="name">ชื่อภาษาไทย</label>
      <input type="text" name="name_th" class="form-control" value="{{ movie.name_th }}">
    </div>

    <div class="form-group mb-3">
      <label for="name">ชื่อภาษาอังกฤษ</label>
      <input type="text" name="name_en" class="form-control" value="{{ movie.name_en }}">
    </div>

    <div class="form-group mb-3">
      <label for="age">ลำดับที่ชอบ</label>
      <input type="number" name="number" class="form-control" value="{{ movie.number }}">
    </div>

    <div class="form-group mb-3">
      <label for="age">ราคา</label>
      <input type="number" name="price" class="form-control" step="0.01" value="{{ movie.price }}">
    </div>

    <div class="form-group mb-3">
      <label for="age">ช่องทางรับชม</label>
      <select class="form-select" aria-label="Default select example" name="channel">
        <option value="netflix" {% if movie.channel == 'netflix' %}selected{% endif %}>Netflix</option>
        <option value="viu" {% if movie.channel == 'viu' %}selected{% endif %}>VIU</option>
        <option value="youtube" {% if movie.channel == 'youtube' %}selected{% endif %}>Youtube</option>
      </select>
    </div>

    <input type="submit" value="อัพเดทข้อมูล" class="btn btn-success">
  </form>
{% endblock %}